
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}
.danger{
    color:red;
    font-size: 2rem;
}
.success{
    color:blue;
    font-size: 2rem;
}
.primary{
    color:green;
    font-size: 2rem;
}