.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container li{
    list-style: none;
    margin-bottom:10px;
}
.nav{
    display:flex;
    flex-direction: row;
    margin-left:100px;
}
.nav > li{
    list-style: none;
    margin-right: 30px;
}

.nav > li > a{
    color:blue;
    font-size: 1.2rem;
    text-decoration: none;
}